<body>
    <section class="ct_login_main_div">
        <div class="container-fluid px-0">
            <div class="ct_login_left_bg">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-4 mb-md-0">
                        <div class="ct_left_login_img">
                            <img src="assets/img/Business Plan-amico 1.svg" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-4 offset-0 offset-lg-1  mb-4 mb-lg-0">
                        <div class="ct_login_right_form w-60 mx-auto mx-lg-0">

                            <div class="ct_login_logo mx-auto d-block text-center mb-4">
                                <img src="assets/img/Logo.png" alt="">
                            </div>
                            <div class="mb-5 text-center">
                                <h4 class="ct_fs_28 mb-2">Reset Password</h4>
                                <p class="mb-0">See what is going on with your business</p>
                            </div>
                            <form [formGroup]="resetForm" (ngSubmit)="onSubmit">
                                <div class="ct_input-group mb-4 position-relative">
                                    <input required="" type="password" name="text" autocomplete="off"
                                        formControlName="password" class="ct_input">
                                    <label class="ct_user-label">Password <span
                                            class="ct_required_star">*</span></label>
                                    <i class="fa-regular fa-eye ct_hide_pass_wye"></i>
                                    <div *ngIf="resetForm.controls['password'].invalid && resetForm.controls['password'].touched"
                                        class="error-message">
                                        <div *ngIf="resetForm.controls['password'].errors?.['required']">Password is
                                            required.</div>
                                    </div>
                                </div>
                                <div class="ct_input-group mb-4 position-relative">
                                    <input required="" type="password" name="text" autocomplete="off"
                                        formControlName="confirmPassword" class="ct_input">
                                    <label class="ct_user-label">Re-Enter Password <span
                                            class="ct_required_star">*</span></label>
                                    <i class="fa-regular fa-eye ct_hide_pass_wye"></i>
                                    <div *ngIf="resetForm.controls['confirmPassword'].invalid && resetForm.controls['confirmPassword'].touched"
                                        class="error-message">
                                        <div *ngIf="resetForm.controls['confirmPassword'].errors?.['required']">This
                                            field is required.</div>
                                        <div
                                            *ngIf="passwordMismatch && !resetForm.controls['confirmPassword'].errors?.['required']">
                                            Passwords do not match.</div>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <button class="ct_custom_btm">
                                        <span class="circle1"></span>
                                        <span class="circle2"></span>
                                        <span class="circle3"></span>
                                        <span class="circle4"></span>
                                        <span class="circle5"></span>
                                        <span class="text">Reset Password</span>
                                    </button>
                                </div>
                                <p class="mb-0 mt-3 ct_login_btm">Already have an account? <a
                                        routerLink="/home/login">Login</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>