<div class="ct_dashbaord_bg">
    <div class="ct_dashbaord_main ct_active">
        <div class="ct_dashbaord_middle">
            <div class="">
                <div class="d-flex align-items-center justify-content-between ct_responsive_wrap">
                    <h4 class="mb-0 ct_fs_22">Approved Order</h4>
                    <div class="position-relative ct_search_input">
                        <input type="text" class="form-control ct_flex_1" placeholder="Search"
                            [(ngModel)]="searchQuery">
                        <i class="fa-solid fa-magnifying-glass "></i>
                    </div>
                </div>
            </div>

            <div class="table-responsive mt-3">
                <table class="table ct_project_table ct_custom_table_main">
                    <thead>
                        <tr>
                            <th class="text-center">Approved CO’s ID</th>
                            <th>Date Raised</th>
                            <th>Raised By </th>
                            <th>Supplier Name</th>
                            <th>Order Value</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of data | filter:searchQuery; let i = index">
                            <td class="text-center">{{ product.order_id }}</td>
                            <td>{{ product.create_at | date:'yyyy-MM-dd' }}</td>
                            <td>{{ userName }}</td>
                            <td>
                                {{ product.name }}
                            </td>
                            <td>
                                {{ product.order_value }}
                            </td>
                            <td class="d-flex align-items-center gap-3 justify-content-end ct_action_btns">
                                <i class="fa-regular fa-eye" data-bs-toggle="modal" (click)="getOrderDetails(product)"
                                    data-bs-target="#ct_order_view" style="cursor: pointer;"></i>
                                <i class="fa-solid fa-pen" data-bs-toggle="modal" (click)="getOrderDetails(product)"
                                    data-bs-target="#ct_order_edit" style="cursor: pointer;"></i>
                            </td>
                        </tr>
                    </tbody>
                    <div *ngIf="(data | filter: searchQuery).length === 0" class="no-item-found">
                        No item found
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade Committed_Price" id="ct_order_view" tabindex="-1" aria-labelledby="ct_order_viewLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pt-5">
                    <h4 class="mb-4 text-center"><strong>Approved Order</strong></h4>
                    <form action="">
                        <div class="ct_purchase_form">
                            <div class="form-group mb-3 px-2">
                                <label for="" class="mb-1">Paid to <span class="ct_required_star">*</span></label>
                                <select name="" id="" class="ct_purchase_select ct_bg_grey_select">
                                    <option *ngFor="let option of dropdownOptions" [selected]="supplyId==option.id">
                                        {{option.name}}</option>
                                </select>

                            </div>
                            <div class="ct_multiple_purchase_line">
                                <table class="table" *ngFor="let order of orderData; let i = index">
                                    <tr>
                                        <td class="px-2 pt-15 py-0">
                                            <p class="mb-0 py-0">{{order.item_name}}</p>
                                        </td>

                                        <td class="px-2 pt-15 text-end py-0">
                                            <p class="mb-0 py-0"><span class="me-3 pe-5">£</span>{{order.approved_co |
                                                number:'1.2-2'}}</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="d-flex align-items-center gap-3 justify-content-between mb-4">
                                <p class="mb-0"><strong>Total Amount</strong></p>
                                <p class="mb-0" style="margin-right: 10px;"><strong>£ {{totalAmountApp}}</strong></p>
                            </div>

                            <div class="d-flex align-items-center gap-3">
                                <img src="assets/img/file_doc.svg" alt="" class="ct_uploaded_img">
                                <div class="ct_file_name">
                                    <h6>Other file.png</h6>
                                    <small>658 KB</small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer justify-content-center border-0 mt-4">
                <button type="button" class="ct_outline_btn ct_outline_orange" data-bs-dismiss="modal">Cancel</button>
                <button type="button ct_"
                    class="ct_custom_btm ct_border_radius_0 ct_btn_fit ct_news_ltr_btn ct_modal_submit"
                    data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- Committed_Price E -->

<!-- approvel_cos modal S -->

<div class="modal fade Committed_Price" id="ct_order_edit" tabindex="-1" aria-labelledby="ct_order_editLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pt-5">
                    <h4 class="mb-4 text-center"><strong>Edit Approved Order</strong></h4>

                    <form [formGroup]="approvedForm">
                        <div class="ct_purchase_form">
                            <div class="form-group mb-3 px-2">
                                <label for="" class="mb-1">Paid to <span class="ct_required_star">*</span></label>
                                <select name="" id="" class="ct_purchase_select ct_bg_grey_select">
                                    <option *ngFor="let option of dropdownOptions" [selected]="supplyId==option.id">
                                        {{option.name}}</option>
                                </select>

                                <!-- <div *ngIf="committedForm.controls['supplyValue'].invalid && committedForm.controls['supplyValue']?.touched"
                                    class="text-danger">
                                    Please select a chain.
                                </div> -->

                            </div>
                            <div class="ct_multiple_purchase_line">
                                <table #tableRef class="table mb-0">
                                    <tr *ngFor="let row of orderData; let i = index">
                                        <td class="px-2" style="width: 60%;">
                                            <!-- Select Dropdown -->
                                            <select id="dropdown{{i}}" class="ct_purchase_select"
                                                [ngModelOptions]="{standalone: true}" [(ngModel)]="row.item_name">
                                                <option selected value="0">Select Item</option>
                                                <option *ngFor="let option of itemsDropdown"
                                                    [selected]="itemName == option.item_name"
                                                    [ngValue]="option.item_name">{{
                                                    option.item_name }}</option>
                                            </select>
                                        </td>
                                        <td class="px-2">
                                            <!-- Input Field for Price -->
                                            <div class="position-relative">
                                                <input id="inputField{{i}}" type="text"
                                                    placeholder="Enter price here..." [(ngModel)]="row.approved_co"
                                                    class="ct_currency_input" [ngModelOptions]="{standalone: true}">
                                                <span id="inputField{{i}}" class="ct_usd_icon">£</span>
                                                <!-- <div *ngIf="committedForm.controls['inputPrice'].invalid && committedForm.controls['inputPrice']?.touched" class="text-danger">
                                                    Please enter a valid price.
                                                  </div> -->
                                            </div>
                                        </td>
                                        <td class="px-2">
                                            <!-- Remove Button -->
                                            <i class="fa-solid fa-trash ct_trash" (click)="removeApprovedRow(i)"></i>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <!-- <div class="text-center">
                                <p class="ct_orange_text">
                                    <strong>
                                        <button class="btndis" (click)="addApprovedRow()"><u>+ Add Line</u></button>
                                    </strong>
                                </p>
                            </div> -->

                            <div class="d-flex align-items-center gap-3 justify-content-between mb-4">
                                <p class="mb-0"><strong>Total Amount</strong></p>
                                <p class="mb-0"><strong>£ {{totalAmountApp}}</strong></p>
                            </div>

                            <div class="form-group mb-3">
                                <label for="" class="ct_fs_16 mb-1">Memo</label>
                                <textarea rows="3" formControlName="memo1" placeholder="Type the memo here...."
                                    class="ct_text_area"></textarea>
                                <div *ngIf="approvedForm.controls['memo1']?.invalid && approvedForm.controls['memo1']?.touched"
                                    class="text-danger">
                                    Please enter a memo.
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label for="ct_file_upload" class="ct_file_upload">
                                    <input #exampleInputFile1 formControlName="sourceFile2"
                                        (change)="handleApprovedFileInput($event)" type="file" id="ct_file_upload"
                                        class="d-none">
                                    <span><i class="fa-solid fa-paperclip"></i> Add Attachment</span>
                                </label>

                                <div *ngIf="approvedForm.controls['sourceFile2']?.invalid && approvedForm.controls['sourceFile2']?.touched"
                                    class="text-danger">
                                    Please choose a file.
                                </div>

                            </div> -->
                            <!-- <div class="mt-4 d-flex align-items-center justify-content-between flex-wrap gap-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/img/file_doc.svg" alt="" class="ct_uploaded_img">
                                    <div class="ct_file_name">
                                        <h6>{{approvedfilename}}</h6>
                                        <small>{{ approvedfilesize }}</small>
                                    </div>
                                </div>
                                <div class="ct_green_check">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </div> -->
                        </div>

                        <div class="modal-footer justify-content-center border-0 mt-4">
                            <button type="button" class="ct_outline_btn ct_outline_orange"
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="button ct_" (click)="onSubmitApproved()"
                                class="ct_custom_btm ct_border_radius_0 ct_btn_fit ct_news_ltr_btn ct_modal_submit">Submit</button>
                            <button hidden type="button" class="btn btn-secondary" #closeModal
                                data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>