<body>
    <section class="ct_login_main_div">
        <div class="container-fluid px-0">
            <div class="ct_login_left_bg">

                <div class="row align-items-center">
                    <div class="col-lg-6 mb-4 mb-md-0">
                        <div class="ct_left_login_img">
                            <img src="assets/img/Business Plan-amico 1.svg" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-4 offset-0 offset-lg-1  mb-4 mb-lg-0">
                        <div class="ct_login_right_form w-60 mx-auto mx-lg-0">

                            <div class="ct_login_logo mx-auto d-block text-center mb-4">
                                <img src="assets/img/Logo.png" alt="">
                            </div>
                            <div class="mb-5 text-center">
                                <h4 class="ct_fs_28 mb-2">Forgot Password</h4>
                                <p class="mb-0">See what is going on with your business</p>
                            </div>
                            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                                <div class="ct_input-group mb-4">
                                    <input required="" type="email" name="text" autocomplete="off"
                                        formControlName="email" class="ct_input">
                                    <label class="ct_user-label">Email <span class="ct_required_star">*</span></label>
                                    <div *ngIf="resetForm.controls['email'].invalid && resetForm.controls['email'].touched"
                                        class="error-message">
                                        <div *ngIf="resetForm.controls['email'].errors?.['required']">Email is required.
                                        </div>
                                        <div
                                            *ngIf="resetForm.controls['email'].errors?.['email'] && !resetForm.controls['email'].errors?.['required']">
                                            Invalid email format.
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <button class="ct_custom_btm">
                                        <span class="circle1"></span>
                                        <span class="circle2"></span>
                                        <span class="circle3"></span>
                                        <span class="circle4"></span>
                                        <span class="circle5"></span>
                                        <span class="text">Get reset link</span>
                                    </button>
                                </div>
                                <p class="mb-0 mt-3 ct_login_btm">Already have an account? <a
                                        href="/home/login">Login</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>