<body>

    <div class="ct_main_banner_bg">
        <header>
            <div class="ct_navbar_main">
                <div class="ct_logo">
                    <img src="assets/img/Logo_white.png" alt="img">
                </div>
                <div class="ct_menu_link">
                    <ul>
                        <div class="ct_close_menu_icon">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <li>
                            <a href="index.html" class="active">Home</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                    <div class="ct_toggle_icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="ct_login_small_btn">
                    <a routerLink="/home/login" class="ct_custom_btm">
                        Login</a>
                </div>

            </div>
        </header>

        <section class="pt-5" style="overflow: hidden;">
            <div class="container-fluid ">
                <div class="row align-items-center justify-content-center ">
                    <div class="col-lg-6 mb-4 mb-lg-0" data-aos="fade-down-right" data-aos-duration="2000">
                        <div class="ct_banner_left_cnt">
                            <h2 class="mb-4">Financial <br> Management For <br> Construction Teams</h2>
                            <p class="pb-4">EasyQS powers over 1,000,000 jobsites worldwide</p>
                            <a href="#" class=" ct_border_radius_0 ct_btn_fit ct_explore_btn">EXPLORE </a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 mb-lg-0" data-aos="fade-down-left" data-aos-duration="2000">
                        <div class="ct_banner_right_img">
                            <img src="assets/img/banner_right_img.png" alt="img">
                            <div class="ct_small_box">
                                <h1>15</h1>
                                <p>YEARS OF <br>
                                    EXCELLENCE </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Service section S -->
    <section class="ct_padd_tb">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-up" data-aos-duration="1000">
                    <div class="ct_service_box">
                        <figure>
                            <div class="ct_service_icon">
                                <img src="assets/img/service_icon_1.png" alt="">
                            </div>
                            <figcaption>
                                <h4>Coordinate efficiently</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore
                                </p>
                            </figcaption>
                        </figure>

                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-up" data-aos-duration="2000">
                    <div class="ct_service_box">
                        <figure>
                            <div class="ct_service_icon">
                                <img src="assets/img/service_icon_2.png" alt="">
                            </div>
                            <figcaption>
                                <h4>Coordinate efficiently</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore
                                </p>
                            </figcaption>
                        </figure>

                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-up" data-aos-duration="3000">
                    <div class="ct_service_box">
                        <figure>
                            <div class="ct_service_icon">
                                <img src="assets/img/service_icon_3.png" alt="">
                            </div>
                            <figcaption>
                                <h4>Coordinate efficiently</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore
                                </p>
                            </figcaption>
                        </figure>

                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- Service section E -->

    <!-- our history section S -->
    <section class="ct_padd_tb pt-0">
        <div class="container">
            <div class="ct_head_title text-center mb-5">
                <h5>OUR HISTORY</h5>
                <h1>Purpose-built for your <br> team</h1>
            </div>
            <div class="row align-items-center">
                <div class="col-md-5 mb-4 mb-md-0" data-aos="zoom-in-up" data-aos-duration="2000">
                    <div class="ct_our_history_img">
                        <img src="assets/img/our_history_img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 offset-md-1  mb-4 mb-md-0" data-aos="zoom-in-up" data-aos-duration="2000">
                    <div class="ct_our_history_cnt">
                        <h4>Departure performed exquisite</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        <img src="assets/img/signature.png" alt="">
                        <h5>Dennis Rodman</h5>
                        <span>Main Engineer of EASYQS</span>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- our history section E -->

    <!-- Project Section S -->
    <section class="ct_padd_tb ct_project_bg">
        <div class="col-md-12 " data-aos="zoom-in-down" data-aos-duration="2000">
            <div class="ct_head_title text-center mb-5">
                <h5>OUR SELECTED PROJECTS</h5>
                <h1>Projects Completed</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br> do eiusmod tempor incididunt ut
                    labore dolor sit amet, <br> consectetur adipiscing eli</p>
            </div>

            <div class="owl-carousel owl-theme ct_product_slider">
                <div class="item">
                    <div class="ct_product_img">
                        <img src="assets/img/product_slider_1.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="ct_product_img">
                        <img src="assets/img/product_slider_2.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="ct_product_img">
                        <img src="assets/img/product_slider_3.png" alt="">
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- Project Section E -->
    <!-- built section S -->
    <section class="ct_padd_tb ct_built_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12" data-aos="fade-down" data-aos-duration="2000">
                    <div class="ct_head_title text-center mb-3">
                        <h1 class="text-white">Built for the field</h1>
                        <p class="text-white">Financial Management software for construction</p>
                    </div>

                    <div class="d-flex align-items-center justify-content-center gap-3">
                        <a href="#" class="ct_white_btn">Get Started Free</a>
                        <a href="#" class="ct_outline_btn">Request Demo</a>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- built section E-->


    <!-- blog section S -->

    <section class="ct_padd_tb">
        <div class="container">
            <div class="ct_head_title text-center mb-5">
                <h1>Build projects at any scale</h1>
            </div>

            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-down" data-aos-duration="2000">
                    <figure class="ct_blog_card">
                        <div class="ct_blog_img">
                            <img src="assets/img/blog_1.png" alt="">
                        </div>
                        <figcaption>
                            <h4>Moscone Center</h4>
                            <p>
                                EASYQS Builders | San Francisco, CA, U.S.
                            </p>
                            <p>EASYQS Builders used Financial Management platform to reduce excess work and manage all
                                drawings on the $500m Center expansion
                                project.</p>
                            <a href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4 mb-4 mb-md-0 " data-aos="fade-up" data-aos-duration="2000">
                    <figure class="ct_blog_card">
                        <div class="ct_blog_img">
                            <img src="assets/img/blog_2.png" alt="">
                        </div>
                        <figcaption>
                            <h4>Moscone Center</h4>
                            <p>
                                EASYQS Builders | San Francisco, CA, U.S.
                            </p>
                            <p>EASYQS Builders used Financial Management platform to reduce excess work and manage all
                                drawings on the $500m Center expansion
                                project.</p>
                            <a href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4 mb-4 mb-md-0 " data-aos="fade-down" data-aos-duration="2000">
                    <figure class="ct_blog_card">
                        <div class="ct_blog_img">
                            <img src="assets/img/blog_3.png" alt="">
                        </div>
                        <figcaption>
                            <h4>Moscone Center</h4>
                            <p class="ct_fs_14">
                                EASYQS Builders | San Francisco, CA, U.S.
                            </p>
                            <p>EASYQS Builders used Financial Management platform to reduce excess work and manage all
                                drawings on the $500m Center expansion
                                project.</p>
                            <a href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                        </figcaption>
                    </figure>
                </div>

            </div>

        </div>
    </section>

    <!-- blog section E -->
    <!-- sales team section S -->
    <section class="ct_padd_tb pt-0">
        <div class="container">
            <div class="ct_head_title text-center mb-5">
                <h5>FRIEND SALES TEAM</h5>
                <h1>Sales Representives</h1>
            </div>
            <div class="row mt-5 pt-5">
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-duration="2000">
                    <div class="ct_team_card">
                        <div class="img-box">
                            <img src="assets/img/team_1.png">
                        </div>
                        <div class="content">
                            <h2>Jane O'neil</h2>
                            <a href="tel:+8509552684">+ 850 955 26 84</a>
                            <p>Chief Financial Offer</p>
                            <ul>
                                <li>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-duration="2000">
                    <div class="ct_team_card">
                        <div class="img-box">
                            <img src="assets/img/team_2.png">
                        </div>
                        <div class="content">
                            <h2>Bob Voss</h2>
                            <a href="tel:+8509552684">+ 850 955 26 84</a>
                            <p>Chief Financial Offer</p>
                            <ul>
                                <li>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-duration="2000">
                    <div class="ct_team_card">
                        <div class="img-box">
                            <img src="assets/img/team_3.png">
                        </div>
                        <div class="content">
                            <h2>Christina Eden</h2>
                            <a href="tel:+8509552684">+ 850 955 26 84</a>
                            <p>Chief Financial Offer</p>
                            <ul>
                                <li>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-duration="2000">
                    <div class="ct_team_card">
                        <div class="img-box">
                            <img src="assets/img/team_4.png">
                        </div>
                        <div class="content">
                            <h2>Eric Mendes</h2>
                            <a href="tel:+8509552684">+ 850 955 26 84</a>
                            <p>Chief Financial Offer</p>
                            <ul>
                                <li>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>

    <!-- sales team section E -->

    <!-- client logo section S -->

    <section class="ct_padd_tb ct_light_grey_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12" data-aos="fade-down" data-aos-duration="2000">
                    <div class="owl-carousel owl-theme ct_client_logo_slider">
                        <div class="item">
                            <div class="ct_client_logo">
                                <img src="assets/img/client_logo_1.png" alt="img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="ct_client_logo">
                                <img src="assets/img/client_logo_2.png" alt="img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="ct_client_logo">
                                <img src="assets/img/client_logo_3.png" alt="img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="ct_client_logo">
                                <img src="assets/img/client_logo_4.png" alt="img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="ct_client_logo">
                                <img src="assets/img/client_logo_5.png" alt="img">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- client logo section E -->

    <!-- world wide projects section s -->

    <section class="ct_padd_tb">
        <div class="container">
            <div class="row">
                <div class="col-md-12" data-aos="fade-down" data-aos-duration="2000">
                    <div class="ct_head_title text-center mb-5">
                        <h5>REACH UPDATES</h5>
                        <h1>1,000,000+ projects worldwide</h1>
                        <p>Helping the largest construction companies in the world more easily manage their Financial
                            Management</p>
                    </div>

                    <div class="ct_grid_h5">
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_1.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_2.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_3.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_4.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_5.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_6.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_7.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_8.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_9.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_10.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_11.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_12.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_13.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_14.png" alt="img">
                        </div>
                        <div class="ct_world_wide_logo_img">
                            <img src="assets/img/wordwide_15.png" alt="img">
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- world wide projects section e -->

    <!-- get Started section S -->
    <section class="ct_get_started_bg ct_padd_tb">
        <div class="container">
            <div class="row">
                <div class="col-md-12" data-aos="fade-down" data-aos-duration="2000">
                    <div class="ct_get_started_cnt">
                        <img src="assets/img/Logo_white.png" alt="img">
                        <h2 class="text-white ct_fs_50 mb-5">Get started today.</h2>
                        <div class="d-flex align-items-center gap-3 flex-wrap">
                            <a href="#" class="ct_custom_btm ct_border_radius_0  ct_explore_btn"
                                style="width: fit-content;">GET A CONSULTATION</a>
                            <div class="">
                                <p class="text-white">Sales representative </p>
                                <a href="tel:+1850344066 " class="text-white ct_fw_700">+1 (850) 344 0 66 </a>
                                <p class="mb-0 text-white">free call !</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- get Started section E -->

    <!-- footer section S -->

    <footer class="">
        <div class="container ct_padd_tb">
            <div class="row">
                <div class="col-md-4 mb-4 mb-mb-0">
                    <div class="ct_footer_item">
                        <h4>HEADQUARTER</h4>
                        <p>228 Cardigan Road, Leeds <br>
                            Geneva Switzerland</p>
                        <a href="+185034406620">+1 (850) 344 0 66 #20</a>
                        <a href="#">FIND US ON MAP</a>
                    </div>
                </div>
                <div class="col-md-4  mb-4 mb-mb-0">
                    <div class="ct_footer_item">
                        <h4>SALES OFFICES</h4>
                        <p>121 South 8th Street, Suite 1200 <br>
                            Minneapolis MN 55402</p>
                        <a href="+185034406620">+1 (850) 344 0 66 #20</a>
                        <a href="#">FIND US ON MAP</a>
                    </div>
                </div>
                <div class="col-md-4  mb-4 mb-mb-0">
                    <div class="ct_footer_item">
                        <h4>SUBSCRIPTION</h4>
                        <p>For more information, please join us.</p>
                        <div class="position-relative ct_footer_nws_ltr">
                            <input type="email" placeholder="Your email address">
                            <button class="ct_custom_btm ct_border_radius_0 ct_btn_fit ct_news_ltr_btn">Sign up</button>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="ct_bottom_footer ">
            <p class="mb-0">© 2024 EasyQS</p>
        </div>
    </footer>
    <!-- footer section E -->

    <div id="toTop">
        <i class="fa-solid fa-arrow-up"></i>
    </div>


</body>